.sv-intro {
    margin: 10px 0;
    font-size: 16px;
}
.sv-date {
    background: #eee;
    padding: 10px 15px;
    margin: 30px 0;
    font-size: 14px;
}
.sv-pagination a,
.sv-pagination span {
    font-size: 14px;
}
.sv-thumbnail img {
    height: 260px;
    width: 100%;
    object-fit: cover;
}
#btn-venio {
    font-size: 15px;
    display: block;
    margin: 10px auto 20px;
    background: #eeeeee;
    color: #000;
    border-radius: 10px;
    max-width: 370px;
    padding: 10px 15px;
    text-decoration: none;
}
#btn-venio:hover,
#btn-venio:focus,
#btn-venio:active {
    background: #eaeaea;
}