.toplevel_page_venio-options {
  #wpcontent {
    @media (min-width: 960px) {
      margin-left: 140px;
    }
  }
  #wpbody {
    .wrap {
      margin: 0;
    }
    h1 {
      background: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 33px;
      color: #484848;
      margin: 0 0 30px 0;
      padding: 35px 0;
      span {
        font-size: 11px;
        color: #868686;
        font-weight: 100;
        font-style: italic;
      }
      img {
        display: block;
        margin: 0 auto 10px;
        width: 105px;
      }
    }

    .notice, .error {
      display: none;
    }
    .notices-wrap {
      .notice, .error {
        display: block;
        max-width: 560px;
        margin: 0 auto 10px;
        box-sizing: border-box;
      }
    }
    .container {
      padding: 0 50px;
      max-width: 1100px;
      margin: auto;
      @media (min-width: 1070px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
      }
      h2 {
        padding: 10px 15px;
        font-size: 30px;
        margin: 0 0 20px 0;
        text-align: center;
        color: #000;
      }
      form {
        h2 {
          background: #fff;
          padding: 10px 15px;
          font-size: 15px;
          border-bottom: 2px solid #e2e2e2;
          margin: 0;
          text-align: left;
          color: #525252;
        }
        input[type=text] {
          width: 100%;
          border: 0;
          background: #f3f3f3;
          border-radius: 0;
        }
        .icon:before {
          color: #c0392b;
          font-size: 19px;
          height: 18px;
        }
        table.form-table {
          background: #ffffff;
          margin: 0 0 20px 0;
          th {
            padding: 20px 15px;
          }
        }
        .warning-section {
          background: rgb(192 57 43 / 10%);
          padding: 10px 15px;
          color: #000;
          p {
            margin: 0;
            padding-left: 30px;
            position: relative;
            line-height: 14px;
            .icon {
              position: absolute;
              left: 0;
              top: 4px;
            }
          }
        }
        p.submit {
          text-align: right;
        }
        .api-call {
          margin: 0 0 20px 0;
          padding: 20px 15px;
          background: #fff;
          p {
            text-align: left;
            margin: 0;
            padding: 0;
          }
        }
      }
      .using {
          background: white;
          padding: 15px 20px;
          margin: 0 0 20px 0;
        h2 {
          text-align: center;
          font-size: 18px;
          line-height: 32px;
          font-weight: 400;
          margin: 0 0 20px 0;
          padding: 10px 15px;
          border-bottom: 1px solid #f3f3f3;
        }
        h3 {
          text-align: center;
          font-size: 14px;
        }
        .shortcode {
          background: #525252;
          color: #ffffff;
          padding: 8px;
          text-align: center;
          font-size: 16px;
        }
        .scrollable-list {
          max-height: 500px;
          overflow-y: auto;
        }
      }
    }
    .copy {
      text-align: center;
      font-size: 11px;
      color: #7b7575;
      line-height: 12px;
    }
  }
}